*{
    margin: 0;
    top: 0;
    box-sizing: border-box;
}
*::after, *::before {
    box-sizing: inherit;
  }
html{
     scroll-behavior: smooth;
     font-size: 14px;
}
@import url('https://fonts.googleapis.com/css?family=Sacramento');
header {
    position: fixed;
    width: 100%;
    z-index: 9999; 
    display: flex;
    justify-content: center;
    background-color: rgba(3, 236, 248, 0.5);
  }
header h1{
    font-family: 'Sacramento', cursive;
    text-align: center;
    position: relative;
    padding: 2rem;
    font-size: 2rem;
    color: #c0c0c0;
}
header ul {
    font-family: 'Sacramento', cursive;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
  }
  header ul li a {
    font-size: 2rem;
    padding: 1rem 2rem;
    color: #c0c0c0;
    text-decoration: none;
    transition: all 0.3s;
  }
  header ul li a:hover,
  header ul li a:active {
  color: #CC9966;
  background-color: #fff;
}

@media (min-width: 769px) {
    header {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 24px;
    }
    header h1 {
      content: none;
      height: 100px;
    }
    header h1::after {
      content: none;
    }
    header ul {
      margin-top: 0;
      height: 100%;
    }
    header li {
      display: flex;
      align-items: center;
    }
  }
  #home .img{
    position: relative;
    background-color: #f0f8ff;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  #home h1{
    font-family: 'Sacramento', cursive;
    color: #c0c0c0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    font-size: 10rem;
    }
    #profile{
      padding-top: 7rem;
      background-color: #f0f8ff;
    }
    #profile h1{
      font-family: 'Sacramento', cursive;
      color: #c0c0c0;
      font-size: 6rem;
      text-align: center;
      padding: 5rem;
      /*text-decoration: underline;
      text-underline-offset: 15px;
      text-decoration-thickness: 3px;
      padding-bottom: 4rem;*/
    }
    #profile .profil{
      display: block;
      width: 60%;
      height: auto;
      padding: 10px;
      border: 4px  solid #afeeee;
      border-radius:3px;
      margin: 0 auto;
    }
    .profil h2{
      font-family: 'Sacramento', cursive;
      padding-left: 30rem;
      font-size: 2rem;
      color: #c0c0c0;
    }
    #profile .profil img {
      border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
      width:  200px;       /* ※縦横を同値に */
      height: 200px;       /* ※縦横を同値に */
  }

#work{
  padding-top: 7rem;
  background-color: #f0f8ff;
}
#work h1{
  font-family: 'Sacramento', cursive;
  color: #c0c0c0;
  font-size: 6rem;
  text-align: center;
} 



footer{
  background-color: rgba(3, 236, 248, 0.5);
}
footer .copyright{
  color: #c0c0c0;
  font-size: 1.2rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
  text-align: center;
  font-family: 'cursive';
}
.gotop{
  display: block;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  background: #FFF;
  border: 2px solid #ffa928;
  padding-top: 40px;
  text-align: center;
  letter-spacing: -1px;
  font-size: 85%;
  text-decoration: none;
  color: #ffa928;
  opacity: 0.5;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10000;
  margin-top: 50rem;
  border-radius: 40px;
}
.gotop::before{
  content: "";
  display: block;
  border-top: 3px solid #ffa928;
  border-right: 3px solid #ffa928;
  width: 30%;
  height: 30%;
  top: 40%;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  transform: rotate(-45deg);
}
.gotop:hover{
  opacity: 1;
}
@media(max-width:750px){
  .gotop{
      width: 40px;
      height: 40px;
      text-indent: -9999px;
      opacity: 1;
      border: none;
      background: none;
      bottom: 10px;
      right: 10px;
  }
  .gotop::before{
      bottom: 0;
  }
}

