*{
    margin: 0;
    top: 0;
    box-sizing: border-box;
}
*::after, *::before {
    box-sizing: inherit;
  }
html{
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    font-size: 14px;
}
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
header {
    position: fixed;
    width: 100%;
    z-index: 9999; 
    display: flex;
    justify-content: center;
    background-color: rgba(3, 236, 248, 0.5);
  }
header h1{
    font-family: 'cursive';
    text-align: center;
    position: relative;
    padding: 2rem;
    font-size: 2rem;
    color: #c0c0c0;
}
header ul {
    font-family: 'cursive';
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
  }
  header ul li a {
    font-size: 2rem;
    padding: 1rem 2rem;
    color: #c0c0c0;
    text-decoration: none;
    transition: all 0.3s;
  }
  header ul li a:hover,
  header ul li a:active {
  color: #CC9966;
  background-color: #EEE8AA;
}

@media (min-width: 769px) {
    header {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 24px;
    }
    header h1 {
      content: none;
      height: 100px;
    }
    header h1::after {
      content: none;
    }
    header ul {
      margin-top: 0;
      height: 100%;
    }
    header li {
      display: flex;
      align-items: center;
    }
  }
  #home .img{
    position: relative;
    background-color: #f0f8ff;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  #home h1{
    font-family: 'cursive';
    color: #c0c0c0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    font-size: 10rem;
    }
    #profile{
      padding-top: 7rem;
      background-color: #f0f8ff;
    }
    #profile h1{
      font-family: 'cursive';
      color: #c0c0c0;
      font-size: 6rem;
      text-align: center;
      /*text-decoration: underline;
      text-underline-offset: 15px;
      text-decoration-thickness: 3px;
      padding-bottom: 4rem;*/
    }
    #profile .profil{
      display: block;
      width: 40%;
      height: auto;
      padding: 10px;
      border: 4px  solid #afeeee;
      border-radius:3px;
      margin: 0 auto;
    }
    .profil h2{
      font-family: 'cursive';
      padding-left: 18rem;
      font-size: 2rem;
      color: #c0c0c0;
    }

#work{
  padding-top: 7rem;
  background-color: #f0f8ff;
}
#work h1{
  font-family: 'cursive';
  color: #c0c0c0;
  font-size: 6rem;
  text-align: center;
} 


footer{
  background-color: rgba(3, 236, 248, 0.5);
}
footer .copyright{
  color: #c0c0c0;
  font-size: 1.2rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
  text-align: center;
  font-family: 'cursive';
}