*{
    margin: 0;
    top: 0;
    box-sizing: border-box;
}
header {
    position: fixed;
    width: 100%;
    z-index: 9999; 
    display: flex;
    justify-content: center;
    background-color: rgba(3, 236, 248, 0.5);
  }
header h1{
    font-family: 'Sacramento', cursive;
    text-align: center;
    position: relative;
    padding: 2rem;
    font-size: 2rem;
    color: #c0c0c0;
}
header ul {
    font-family: 'Sacramento', cursive;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  header ul li a {
    font-size: 2rem;
    padding: 1rem 2rem;
    color: #c0c0c0;
    text-decoration: none;
    transition: all 0.3s;
  }
  header ul li a:hover,
  header ul li a:active {
  color: #CC9966;
  background-color: #fff;
}
@media (min-width: 769px) {
    header {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 24px;
    }
    header h1 {
      content: none;
      height: 100px;
    }
    header h1::after {
      content: none;
    }
    header ul {
      margin-top: 0;
      height: 100%;
    }
    header li {
      display: flex;
      align-items: center;
    }
}
body {
    font-family: 'Sacramento', cursive;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
  }
  
  .title h1 {
    font-family: 'Sacramento', cursive;
    margin-top: 6.25rem;
    color: #c0c0c0;
    text-align: center;
    padding: 20px;
    font-size: 5rem;
  }
  
  section.work {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
  }
  
  .work img {
    width: 300px;
    height: 200px; 
    border: 1px solid #c0c0c0;
    border-radius: 10px; 
    object-fit: cover;
    width: 40%;
    height: 50%;
  }
  
  .work-info {
    max-width: 500px;
    text-align: left;
  }
  
  .work-info h2 {
    font-family: 'Sacramento', cursive;
    color: #c0c0c0;
    font-size: 2rem;
    margin-bottom: 10px;
    
  }
  
  .work-info p {
    font-family: 'Sacramento', cursive;
    font-size: 1.5rem;
    color: #444;
    line-height: 2;
    margin-bottom: 1rem;
  }
  .i{
    position: absolute;
    margin-top: 35rem;
  }
  .i img{
    border-radius: 15px;
    width: 5%;
    height: 5%;
    margin-left: 65rem;
  }
  .i-2{
    position: absolute;
    margin-top: 60rem;

  }
  .i-2 img{
    border-radius: 15px;
    width: 5%;
    height: 5%;
    margin-left: 65rem;
  }
  @media (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: center;
  }
  header ul {
    margin-right:3rem;
  }
      .title h1 {
          font-size: 3rem;
          margin-top: 11rem;
      }
  
      .work {
          flex-direction: column;
          align-items: center;
      }
  
      .work img {
          width: 80%;
          height: auto;
          margin-bottom: 1rem;
      }
  
      .work-info {
          max-width: 80%;
          text-align: center;
      }
  
      .i, .i-2 {
          position: static;
          margin-top: 2rem;
          text-align: center;
      }
  
      .i img, .i-2 img {
          width: 20%;
          height: auto;
          margin-left: 0;
        margin-top:-3rem;
      }
  }