*{
    margin: 0;
    top: 0;
    box-sizing: border-box;
}
header {
    position: fixed;
    width: 100%;
    z-index: 9999; 
    display: flex;
    justify-content: center;
    background-color: rgba(3, 236, 248, 0.5);
  }
header h1{
    font-family: 'Sacramento', cursive;
    text-align: center;
    position: relative;
    padding: 2rem;
    font-size: 2rem;
    color: #c0c0c0;
}
header ul {
    font-family: 'Sacramento', cursive;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
  }
  header ul li a {
    font-size: 2rem;
    padding: 1rem 2rem;
    color: #c0c0c0;
    text-decoration: none;
    transition: all 0.3s;
  }
  header ul li a:hover,
  header ul li a:active {
  color: #CC9966;
  background-color: #fff;
}
@media (min-width: 769px) {
    header {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 24px;
    }
    header h1 {
      content: none;
      height: 100px;
    }
    header h1::after {
      content: none;
    }
    header ul {
      margin-top: 0;
      height: 100%;
    }
    header li {
      display: flex;
      align-items: center;
    }
}
body {
    font-family: 'Sacramento', cursive;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
  }
  
  .title h1 {
    font-family: 'Sacramento', cursive;
    margin-top: 6.25rem;
    color: #c0c0c0;
    text-align: center;
    padding: 20px;
  }
  
  section.work {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
  }
  
  .work img {
    width: 300px;
    height: 200px; 
    border: 1px solid #c0c0c0;
    border-radius: 10px; 
    object-fit: cover;
    width: 40%;
    height: 50%;
  }
  
  .work-info {
    max-width: 500px;
    text-align: left;
  }
  
  .work-info h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .work-info p {
    font-size: 1rem;
    color: #444;
  }