*{
  margin: 0;
  top: 0;
  box-sizing: border-box;
}
header {
  position: fixed;
  width: 100%;
  z-index: 9999; 
  display: flex;
  justify-content: center;
  background-color: rgba(3, 236, 248, 0.5);
}
header h1{
  font-family: 'Sacramento', cursive;
  text-align: center;
  position: relative;
  padding: 2rem;
  font-size: 2rem;
  color: #c0c0c0;
}
header ul {
  font-family: 'Sacramento', cursive;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}
header ul li a {
  font-size: 2rem;
  padding: 1rem 2rem;
  color: #c0c0c0;
  text-decoration: none;
  transition: all 0.3s;
}
header ul li a:hover,
header ul li a:active {
color: #CC9966;
background-color: #fff;
}
@media (min-width: 769px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 24px;
  }
  header h1 {
    content: none;
    height: 100px;
  }
  header h1::after {
    content: none;
  }
  header ul {
    margin-top: 0;
    height: 100%;
  }
  header li {
    display: flex;
    align-items: center;
  }
}
body {
  font-family: 'Sacramento', cursive;
  margin: 0;
  padding: 0;
  background-color: #f0f8ff;
}

.title h1 {
  font-family: 'Sacramento', cursive;
  margin-top: 6.25rem;
  color: #c0c0c0;
  text-align: center;
  padding: 20px;
  font-size: 5rem;
}

section.work {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.work img {
  width: 300px;
  height: 200px; 
  border: 1px solid #c0c0c0;
  border-radius: 10px; 
  object-fit: cover;
  width: 40%;
  height: 50%;
}

.work-info {
  max-width: 500px;
  text-align: left;
}

.work-info h2 {
  text-decoration: underline;
  font-family: 'Sacramento', cursive;
  color: #c0c0c0;
  font-size: 2.5rem;
  margin-bottom: 10px;
  
}

.work-info p {
  font-family: 'Sacramento', cursive;
  font-size: 1.5rem;
  color: #444;
  line-height: 2;
  margin-bottom: 3rem;
}
.i img{
  position: absolute;
  margin-top:54rem;
  margin-left: 16rem;
  border-radius: 10px;
  width: 5%;
  height: 10%;
}
@media (max-width: 768px) {
  /* Header */
  header {
      flex-direction: column;
      align-items: center;
  }
  header ul {
    margin-right:3rem;
}
  
.title h1 {
  margin-top: 10rem;
}

  /* Work Section */
  section.work {
      flex-direction: column;
      align-items: center;
  }

  .work img {
      width: 100%;
      height: auto;
  }

  .work-info {
      max-width: 100%;
      text-align: center;
  }

  /* Center the .i element */
  .i {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .i img {
    margin-top: 92rem;
    margin-left: -0.1rem;
      width: 20%;
      height: 10%;
  }
}

/* Center elements in both PC and Mobile */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}